*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio-section{
    text-align: center;
    padding: 100px;
  
}

h2{
    margin-bottom: 10px;    
}

h3{
    margin-bottom: 10px;  
    margin-top: 10px;  
}

h4{
    margin-bottom: 10px;  
     margin-top: 10px;  
     font-style: italic;
}

p{
    margin-bottom: 15px;
}


.portfolio{
    float: left;
    width: calc( (100% - 30px) / 3);
    background-color: rgb(215, 219, 219);
    margin-right: 15px;
    margin-top: 10px;
}

img{
    width: 100%;
    display: block;
}

.cleaqrfix{
    clear: both;
}

.last-item{
    margin-right: 0;
}